
src/playground.py
*.pyc
src/frd/__pycache__/__init__.cpython-39.pyc
src/frd/__pycache__/m00_helper.cpython-39.pyc
src/frd/__pycache__/m01_profiles.cpython-39.pyc
src/frd/__pycache__/m02_election_rules.cpython-39.pyc
src/frd/__pycache__/m03_delegative_voting.cpython-39.pyc
src/frd/__pycache__/m04_save_data.cpython-39.pyc
src/frd/__pycache__/m04_simulate.cpython-39.pyc
src/frd/__pycache__/m05_analysis.cpython-39.pyc
src/frd/__pycache__/m05_save_data.cpython-39.pyc
src/frd/__pycache__/m06_analysis.cpython-39.pyc
*.pyc
.DS_Store
src/frd/__pycache__/__init__.cpython-39.pyc
src/frd/__pycache__/__init__.cpython-39.pyc
src/frd/__pycache__/m00_helper.cpython-39.pyc
src/frd/__pycache__/m01_profiles.cpython-39.pyc
*.pyc
FRD_venv/bin/whalrus
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/AUTHORS.rst
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/entry_points.txt
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/INSTALLER
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/LICENSE
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/METADATA
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/RECORD
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/REQUESTED
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/top_level.txt
FRD_venv/lib/python3.9/site-packages/whalrus-0.4.6.dist-info/WHEEL
FRD_venv/lib/python3.9/site-packages/whalrus/__init__.py
FRD_venv/lib/python3.9/site-packages/whalrus/ballots/__init__.py
FRD_venv/lib/python3.9/site-packages/whalrus/ballots/ballot.py
FRD_venv/lib/python3.9/site-packages/whalrus/ballots/ballot_levels.py
FRD_venv/lib/python3.9/site-packages/whalrus/ballots/ballot_one_name.py
FRD_venv/lib/python3.9/site-packages/whalrus/ballots/ballot_order.py
FRD_venv/lib/python3.9/site-packages/whalrus/ballots/ballot_plurality.py
FRD_venv/lib/python3.9/site-packages/whalrus/ballots/ballot_veto.py
FRD_venv/lib/python3.9/site-packages/whalrus/cli.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_general.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_grades.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_levels.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_levels_interval.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_levels_list_non_numeric.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_levels_list_numeric.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_levels_range.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_order.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_plurality.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_strict_order.py
FRD_venv/lib/python3.9/site-packages/whalrus/converters_ballot/converter_ballot_to_veto.py
FRD_venv/lib/python3.9/site-packages/whalrus/eliminations/__init__.py
FRD_venv/lib/python3.9/site-packages/whalrus/eliminations/elimination.py
FRD_venv/lib/python3.9/site-packages/whalrus/eliminations/elimination_below_average.py
FRD_venv/lib/python3.9/site-packages/whalrus/eliminations/elimination_last.py
FRD_venv/lib/python3.9/site-packages/whalrus/matrices/matrix.py
FRD_venv/lib/python3.9/site-packages/whalrus/matrices/matrix_majority.py
FRD_venv/lib/python3.9/site-packages/whalrus/matrices/matrix_ranked_pairs.py
FRD_venv/lib/python3.9/site-packages/whalrus/matrices/matrix_schulze.py
FRD_venv/lib/python3.9/site-packages/whalrus/matrices/matrix_weighted_majority.py
FRD_venv/lib/python3.9/site-packages/whalrus/priorities/priority.py
FRD_venv/lib/python3.9/site-packages/whalrus/profiles/__init__.py
FRD_venv/lib/python3.9/site-packages/whalrus/profiles/profile.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/__init__.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_approval.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_baldwin.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_black.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_borda.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_bucklin_by_rounds.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_bucklin_instant.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_condorcet.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_coombs.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_copeland.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_irv.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_iterated_elimination.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_k_approval.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_kim_roush.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_majority_judgment.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_maximin.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_nanson.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_plurality.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_range_voting.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_ranked_pairs.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_schulze.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_score.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_score_num.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_score_num_average.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_score_num_row_sum.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_score_positional.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_sequential_elimination.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_sequential_tie_break.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_simplified_dodgson.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_two_round.py
FRD_venv/lib/python3.9/site-packages/whalrus/rules/rule_veto.py
FRD_venv/lib/python3.9/site-packages/whalrus/scales/scale.py
FRD_venv/lib/python3.9/site-packages/whalrus/scales/scale_from_list.py
FRD_venv/lib/python3.9/site-packages/whalrus/scales/scale_from_set.py
FRD_venv/lib/python3.9/site-packages/whalrus/scales/scale_interval.py
FRD_venv/lib/python3.9/site-packages/whalrus/scales/scale_range.py
FRD_venv/lib/python3.9/site-packages/whalrus/scorers/scorer.py
FRD_venv/lib/python3.9/site-packages/whalrus/scorers/scorer_borda.py
FRD_venv/lib/python3.9/site-packages/whalrus/scorers/scorer_bucklin.py
FRD_venv/lib/python3.9/site-packages/whalrus/scorers/scorer_levels.py
FRD_venv/lib/python3.9/site-packages/whalrus/scorers/scorer_plurality.py
FRD_venv/lib/python3.9/site-packages/whalrus/scorers/scorer_positional.py
FRD_venv/lib/python3.9/site-packages/whalrus/scorers/scorer_veto.py
FRD_venv/lib/python3.9/site-packages/whalrus/utils/__init__.py
FRD_venv/lib/python3.9/site-packages/whalrus/utils/utils.py
FRD_venv/lib/python3.9/site-packages/whalrus/whalrus.py
